@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'helvetica neue', 'helvetica', sans-serif;
}

.h2 {
    text-align: center;
    margin: 0;
}

.nav {
    list-style: none;
    text-transform: uppercase;
    color: white;
    padding: .5rem;
    
}

.nav li {
    width: 8em;
    display: inline;
}

.nav a {
    display: block;
    background-color: #000;
    text-align: center;
    margin-top: .5rem;
    padding: .5rem;
    color: white;
}

a,
a:visited {
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: medium;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: black;
    color: white;
    padding: 0.5em 0.75em;
    font-weight: bold;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

header {
    display: block;
    height: 100%;
    width:100%;
    background-color: black;
    background-image: url(../images/nebula.jpg);
    background-position: center;
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'helvetica neue', 'helvetica', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: right;
    line-height: 1.3em;
    padding-right: 1rem;
    letter-spacing: 2px;
}

img {
    width: 100%; 
}

.logo {
    position: relative;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.copyright {
    padding-top: 2rem;
    color: white;
    text-align: center;
    margin: 0;
}

footer {
    background-color: black;
}


.button {
    color: black;
    background-color: white;
    font-size: 20px; 
    border: none;
    padding: .5em;
    font-weight: bold;
}

.buttbutton {
    color: white;
    background-color: black; 
    margin: 0 6rem;
    border: none;
    font-weight: medium;
    display: block;
    padding: 0 .5em;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    margin: 0;
    padding: .5em 0;
}

.info {

}

.startlink {
    color: black;
}

.todaylink {
    color: black;
    background-color: white;
    padding: 0 1.2rem;
}


textarea {
    height: 18em;
    width: 90%;
}

.begone {
    display: none;
}

.tests {
    margin:0;
}

.footnav {
    color: white;
    list-style: none;
    text-align: center;
    padding: .7rem;
    
}


@media only screen and (min-width: 25em) {


}

@media only screen and (min-width: 38em) {

.feature {
    display: block;
}
    
header {
    height: 30rem;
}
    
.begone {
    display: block;
}
    
.footnav {
    display: inline-block;
}
  
h1 {
    font-size: 3em;
    padding-top: 2.5em;
    margin-right: .5em;
}
    
.button {
    margin-left: 1em;
    font-size: 30px;

}
 
.logo {
    float: left;
    margin-left: 2em;
    
}

    
    
}
    
@media only screen and (min-width: 50em) {


}