@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'helvetica neue', 'helvetica', sans-serif;
}

h2 {
    text-align: center;
}

.nav {
    list-style: none;
    text-transform: uppercase;
    color: white;
    padding: .5rem;
    
}

.nav li {
    width: 8em;
    display: inline;
}

.nav a {
    display: block;
    background-color: #000;
    text-align: center;
    margin-top: .5rem;
    padding: .5rem;
    color: white;
}

a,
a:visited {
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: medium;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: black;
    color: white;
    padding: 0.5em 0.75em;
    font-weight: bold;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

header {
    height: 20rem;
    width:100%;
    background: url(http://placehold.it/900x600/000);
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'helvetica neue', 'helvetica', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: right;
    line-height: 1.3em;
    padding-top: 3rem;
    padding-right: 1rem;
    letter-spacing: 2px;
}

img {
    width: 100%; 
}

.logo {
    position: relative;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}

.copyright {
    padding-top: 2rem;
    color: white;
    text-align: center;
    margin: 0;
}

footer {
    background-color: black;
}

.footnav {
    font-size: .5rem;
    padding: 0;
}

.footnav a {
    padding: .2em;
    margin: 0;
}

.button {
    color: black;
    background-color: white;
    font-size: 20px; 
    margin-left: 1rem;
    border: none;
    padding: .5em;
    font-weight: bold;
}

.buttbutton {
    color: white;
    background-color: black;
    font-size: 30px; 
    margin: 0 6rem;
    border: none;
    font-weight: medium;
    display: block;
    padding: 0 .5em;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 25em) {


}

@media only screen and (min-width: 38em) {


}
    
@media only screen and (min-width: 50em) {


}