@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'helvetica neue', 'helvetica', sans-serif;
}


.intro p {  
    margin-bottom: 1%;
}

.h2 {
    text-align: center;
    margin: 0;
    padding-top: 1rem;
}

.nav {
    list-style: none;
    text-transform: uppercase;
    color: white;
    padding: .5rem;
}

.nav li {
    width: 8em;
    display: inline;
}

.nav a {
    display: block;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    margin-top: .5rem;
    padding: .5rem;
    color: white;
}

a,
a:visited {
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: medium;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -5em;
    background-color: black;
    color: white;
    padding: 0.5em 0.75em;
    font-weight: bold;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

header {
    display: block;
    height: 100%;
    width:100%;
    background-color: black;
    background-image: url(../images/main-image.jpg);
    background-position: center;
    background-size: cover;
    padding: 1px 0 0 0;
}

h1 {
    color: white;
    font-family: 'helvetica neue', 'helvetica', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: right;
    line-height: 1.3em;
    padding-right: 1rem;
    letter-spacing: 2px;
    padding-top: 4.5rem;
}

img {
    width: 100%;
    background-color: black;
}

.logo {
    float: left;
    margin-left: 2em;
    position: relative;
    width: 20%;
    display: block;
    margin-right: auto;
    padding-top: 1rem;
    margin-bottom: 2rem;
    background-color: transparent;
}

.copyright {
    padding-top: 2rem;
    color: grey;
    text-align: center;
    margin: 0;
}

footer {
    background-color: black;
}


.button {
    color: black;
    background-color: white;
    font-size: 20px; 
    border: none;
    padding: .5em;
    font-weight: bold;
    margin-left: 1em;
}

.button:hover {
    color: white;
    background-color: black;
    font-weight: normal;
}


.buttbutton {
    color: white;
    background-color: black; 
    margin: 0 4rem;
    border: none;
    font-weight: medium;
    display: block;
    padding: 0 .5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

.buttbutton:hover {
    color: black;
    background-color: white;
    font-weight: bold;
}

h3 {
    text-transform: uppercase;
    margin: 0;
    padding: .5em 0;
}

.info {

}

.startlink {
    color: black;
}

.startlink:hover {
    opacity: .5;
}

.todaylink {
    color: black;
    background-color: white;
    padding: 0 1.2rem;
}

.todaylink:hover {
    color: white;
    background-color: black;
    font-weight: normal;
}


textarea {
    height: 18em;
    width: 90%;
}

.begone {
    display: none;
}

.tests {
    margin:0;
}

.footnav {
    color: grey;
    list-style: none;
    text-align: center;
    padding: .7rem;
}

.footnav a:hover {
    opacity: .5;
}

.footnav a:visited {
    color: white;
}

.footnav a:visited:hover {
    opacity: .5;
}

.nav-m li{
    display: none;
}

.testemony {
    text-transform: uppercase;
}

.testemony-p {
    margin-bottom: 8px;
}

.sm-button:hover {
    color: rgba(0, 0, 0, .4);
    background-color: white;
    font-weight: normal;
}

.price-list {
    list-style: disc;
    margin-bottom:0;
    padding:0 .5em;
    line-height: 200%;
    
}

.price h3{
    text-align: center;
    text-decoration: underline;
}

.price {
    padding: 0 1;
    background-color: white;
}

.price-grid {
    background-color: black;
}



form {
    padding: 0 1.5em;
    margin: 0 auto;
    max-width: 30em;
    padding-bottom: 8rem;
}

.colourback {
    background-color: ;
}

label {
    display: block; 
}

input + label {
    display: inline-block;
}

.inputbox {
    width: 100%;
    height: 3em;
}

textarea {
    height: 18em;
    width: 100%;
}

button {
    width: 8rem;
    color: rgba(250, 250, 250, 1);
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0.5em;
    border: none;
    background-color: rgba(250, 0, 0, .5);

}

button:hover {
    background-color: white;
    color: rgba(250, 0, 0, .5);
    font-weight: bold;
}

.levels {
    padding-right: 0.5em;
    padding-bottom: 1em;
}

.yourlevel {
   padding-top: 0.5em;
    margin: 0;
    color: rgba(0, 0, 0, .6);
}

.radio {
    white-space: nowrap;
    display: inline-block;
}

.submit-button {
    text-align: center;
}

.join {
    text-align: center;
    padding: 0em 1em;
    margin: 0;
    padding-top: 1rem;
    letter-spacing: 2px;
}

.join-p {
    text-align: center;
    letter-spacing: 1px;
}

.form-titles {
    color: rgba(0, 0, 0, .6);
    text-align: center;
    padding:0;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, .1);
}

.basics {
    background-color: white;
    padding: .5em;
    margin-bottom: 2rem;
}

.not-free {
    background-color: white;
    padding: .5em;
    margin-borrom: 2rem;
}

.submit-button-free {
    text-align: center;
}

.after {
    margin-bottom: 2rem;
}

.after-bottom {
    margin-bottom: 1rem;
}

.before {
    margin-top: 1rem;
}

.thanks {
    padding: 2rem;
    text-align: center;
}

.back-to {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.back-to:hover {
    opacity: .5;
}

.back-to:visited {
    color: grey;
}

.bottom-logo {
    padding: 0 40%;
}

label {
    color: rgba(0, 0, 0, .6);
}

.inputbox {
    border: none;
    border-bottom: solid 1pt grey;
}


@media only screen and (min-width: 25em) {


}



@media only screen and (min-width: 38em) {
    
.nav {
    display: none;
}      
    
.feature {
    opacity: .8;
    color: #484848;
}

.feature:hover {
    opacity: 1;
    color: black;
}    
    
    
.copyright {
    margin: 0;
    float: right;
    text-align: right;
    padding-right: 2rem;
    padding-top: 5.5rem;
}
    
footer {
    height: 15rem;
}  
    
header {
    height: 30rem;
}
    
.begone {
    display: block;
}
    
.footnav li {
    display: inline-block;
}
  
h1 {
    font-size: 3em;
    padding-top: .5em;
    margin-right: .5em;
}
    
.button {
    margin-left: .5em;
    font-size: 30px;

}

    
.bottom-logo {
    padding: 0;
    padding-left: 1rem;
    position: relative;
}
    
  
    
    
    
    
    
    
}
    
@media only screen and (min-width: 50em) {
  
    
.nav-m {
    padding-top: 5rem;
}
 
h1 {
    padding-top: 0;
}

}